*.ide
Novela/NovelasAPP/.vs/NovelasAPP/v16/.suo
Novela/NovelasAPP/.vs/NovelasAPP/v16/Server/sqlite3/storage.ide
Novela/NovelasAPP/.vs/NovelasAPP/v16/Server/sqlite3/storage.ide-shm
Novela/NovelasAPP/.vs/NovelasAPP/v16/Server/sqlite3/storage.ide-wal
Novela/NovelasAPP/.vs/NovelasAPP/v16/Server/sqlite3/storage.ide
Novela/NovelasAPP/.vs/NovelasAPP/v16/.suo
Novela/NovelasAPP/NovelasAPP/bin/Debug/netcoreapp3.0/NovelasAPP.dll
Novela/NovelasAPP/NovelasAPP/bin/Debug/netcoreapp3.0/NovelasAPP.pdb
Novela/NovelasAPP/.vs/NovelasAPP/v16/Server/sqlite3/storage.ide
Novela/NovelasAPP/.vs/NovelasAPP/v16/.suo
Novela/NovelasAPP/NovelasAPP/bin/Debug/netcoreapp3.0/NovelasAPP.runtimeconfig.dev.json
Novela/NovelasAPP/NovelasAPP/obj/Debug/netcoreapp3.0/NovelasAPP.assets.cache
Novela/NovelasAPP/NovelasAPP/obj/Debug/netcoreapp3.0/NovelasAPP.csproj.FileListAbsolute.txt
Novela/NovelasAPP/NovelasAPP/obj/Debug/netcoreapp3.0/NovelasAPP.csprojAssemblyReference.cache
Novela/NovelasAPP/NovelasAPP/obj/Debug/netcoreapp3.0/NovelasAPP.dll
Novela/NovelasAPP/NovelasAPP/obj/Debug/netcoreapp3.0/NovelasAPP.pdb
Novela/NovelasAPP/NovelasAPP/obj/NovelasAPP.csproj.nuget.cache
Novela/NovelasAPP/NovelasAPP/obj/Debug/netcoreapp3.0/NovelasAPP.dll
Novela/NovelasAPP/NovelasAPP/obj/Debug/netcoreapp3.0/NovelasAPP.pdb
Novela/NovelasAPP/NovelasAPP/obj/NovelasAPP.csproj.nuget.cache
Novela/NovelasAPP/NovelasAPP/obj/NovelasAPP.csproj.nuget.dgspec.json
Novela/NovelasAPP/NovelasAPP/obj/NovelasAPP.csproj.nuget.g.props
Novela/NovelasAPP/NovelasAPP/obj/project.assets.json
